<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Sub Posts</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Posts in <%= subname %></h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <% if (posts && posts.length > 0) { %>
          <ul>
            <% posts.forEach(post => { %>
              <li>
                <a href="/posts/show/<%= post.id %>"><%= post.title %></a>
                <p><%= post.description %></p>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>No posts found in this subgroup.</p>
        <% } %>
      </div>
    </main>
  </body>
</html>
