.authOptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.voteContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.voteButtons button.active {
  background-color: #ffc107;
  color: #fff;
}